html{
    font-family: 'Cormorant Unicase', serif;

}

#bg {
    background-color: navajowhite;
}

#link {
    text-align: center;
    color: red;

}

#pic {
    border-radius: 50%;
    margin: 0 auto;
}

nav{
    text-align: center
}
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 6px;
    vertical-align: middle;
  }